@tailwind base;
@tailwind components;
@tailwind utilities;

/* App background image */
body.app-background {
    background-image: url('/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}
